body {
    background-color: aquamarine;
}
header {
    background-color: blueviolet;
    padding: 30px
}
h1{
    font-size: 30px;
    font-weight: bold;
    background-color: blue;
    width: auto;
    text-align: center;
    text-transform: uppercase;
}


main{
    padding: 20px 0;

}
li{
    margin: 10px 0;
    padding: 10px 0;

}
a{
    text-decoration: none;

}



